<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <script src="https://kit.fontawesome.com/819401a432.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('layout/nav') %>

    <%- include('layout/header') %>

    <div class="container py-lg-2">
        
        <section class="h-100 h-custom">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-lg-8">
                                        <div class="p-5">
                                            <div class="d-flex justify-content-between align-items-center mb-5">
                                                <h1 class="fw-bold mb-0 text-black">Giỏ hàng</h1>
                                                <h6 class="mb-0 text-muted">Tổng sản phẩm: <%= amount %></h6>
                                            </div>
                                            <% if(amount > 0){ %>
                                                <% cart_data.forEach(function(sp){ %>
                                                    <hr class="my-4">                                          
                                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                                <img src="/uploads/<%= sp.HinhAnh %>"
                                                                    class="img-fluid rounded-3" alt="">
                                                            </div>
                                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                                <h6 class="text-muted">Shirt</h6>
                                                                <h6 class="text-black mb-0"><%= sp.TenSanPham %></h6>
                                                            </div>
                                                            <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                                <button class="btn btn-link px-2"
                                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                    
                                                                <input id="form1" min="0" name="quantity" value="1" type="number"
                                                                    class="form-control form-control-sm" style="width: 60px;" />
                    
                                                                <button class="btn btn-link px-2"
                                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                                    <i class="fas fa-plus"></i>
                                                                </button>
                                                            </div> -->
                                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                                <h6 class="mb-0 donGia"><%= sp.DonGia %></h6>
                                                            </div>
                                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                                <a href="/giohang/xoa/<%= sp.MaSanPham %>" class="text-muted"><i class="fas fa-times"></i></a>
                                                            </div>
                                                        </div>                                          
                                                    <hr class="my-4">
                                                <% }) %>
                                            <% } %>
        
                                            <div class="pt-5">
                                                <h6 class="mb-0"><a href="/" class="text-body text-success text-decoration-none"><i
                                                            class="fas fa-long-arrow-alt-left me-2 text-success"></i>Trở về</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 bg-green">
                                        <div class="p-5">
                                            <h3 class="fw-bold mb-0 mt-2 pt-1">Tiến hành đặt hàng</h3>
                                            <hr class="my-4">
        
                                            <div class="d-flex justify-content-between">
                                                <% var total = 0 %>
                                                <% if(amount > 0) { %>
                                                    <% cart_data.forEach(function(sp){ %>
                                                        <p class="visually-hidden-focusable"><%= total = total + parseInt(sp.DonGia) %></p>
                                                    <% }) %>
                                                <% } %>
                                            </div>
        
                                            <h5 class="text-uppercase mb-0">Thông tin khách hàng</h5>
                                            
                                            <form class="mb-2 pb-2" action="/giohang/dathang" method="post">

                                                <label class="mt-4 fw-bold" for="MaTaiKhoan">Họ tên khách hàng</label>
                                                <input class="input_cart visually-hidden-focusable" type="text" name="MaTaiKhoan" id="MaTaiKhoan" value="<%= session.MaTaiKhoan %>">
                                                <p><%= session.HoTen %></p>

                                                <label class="mt-4 fw-bold" for="DiaChi">Địa chỉ giao hàng</label>
                                                <input class="input_cart text-dark visually-hidden-focusable" type="text" name="DiaChi" id="DiaChi" value="<%= session.DiaChi %>">
                                                <p><%= session.DiaChi %></p>

                                                <hr class="my-4">

                                                <label class="text-uppercase fw-bold" for="TongTien">Thành tiền</label>
                                                <input class="input_cart visually-hidden-focusable" type="number" name="TongTien" id="TongTien" value="<%= total %>">
                                                <p class="donGia currSign"><%= total %></p>

                                                <% if(amount > 0) { %> 
                                                    <button type="submit" class="btn btn-dark btn-block btn-lg"
                                                    data-mdb-ripple-color="dark">Đặt hàng</button>
                                                <% } else { %>
                                                    <button type="submit" class="btn btn-dark btn-block btn-lg"
                                                    data-mdb-ripple-color="dark" disabled>Đặt hàng</button>
                                                <% } %> 
                                            </form>

                                            <!-- <div class="mb-4 pb-2">
                                                <select class="select">
                                                    <option value="1">Standard-Delivery- €5.00</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                    <option value="4">Four</option>
                                                </select>
                                            </div>
        
                                            <h5 class="text-uppercase mb-3">Give code</h5>
        
                                            <div class="mb-5">
                                                <div class="form-outline">
                                                    <input type="text" id="form3Examplea2"
                                                        class="form-control form-control-lg" />
                                                    <label class="form-label" for="form3Examplea2">Enter your code</label>
                                                </div>
                                            </div> -->
        
        
                                            
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <%- include('layout/footer') %>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="/js/templatemo.js"></script>
    <script src="/js/format_money.js"></script>
</body>
</html>